    input, button {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border-radius: 10px;
      border: none;
      font-size: 16px;
    }

    .btn-primary {
      background-color: #4b3d4c;
      color: #efeae7;
      font-weight: bold;
    }

    .btn-secondary {
      background-color: transparent;
      border: 1px solid #cec3c1;
      color: #efeae7;
    }

    .forgot-password {
      margin-top: 15px;
      color: #75616a;
      font-size: 14px;
    }
    
    .forgot-password a {
      color: #efeae7;
      text-decoration: none;
      margin-left: 5px;
    }
    
    .forgot-password a:hover {
      text-decoration: underline;
    }

    .hidden {
      display: none;
    }
